	/* general customization */
    html {
        font-size: 16px;
    }
    
    body {
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    ::selection {
        background-color: lightskyblue;
    }
    
    /* SECTION: HEADER */
    .header {
        width: 100%;
        height: 120px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    }
    
    .header__logo, .header__title {
        display: flex;
        align-items: center;
        height: 50%;
    }
    
    .header__logo {
        width: 100%;
        border-bottom: 1px solid lightgray;
    }
    
    .header__img {
        height: 30px;
        margin-left: 25px;
    }
    
    .header__title {
        margin: 0;
        margin-left: 25px;
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: #404040;
    }
    
    
    /* SECTION: POSTS */
    .posts {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
    }
    
    .posts__title_all-stories {
        padding: 20px 0;
        box-sizing: border-box;
        font-size: 2rem;
        font-weight: 400;
        color: #292828;
    }
    
    .post__card {
        padding: 30px 30px;
        border-top: 1px solid #a3a3a3;
    }
    
    .post__title {
        margin-bottom: 5px;
        color: #404040;
    }
    
    .post__author, .post__date {
        font-size: 0.9rem;
        color: #91ad6b;
    }
    
    .post__text {
        margin-top: 15px;
        white-space: pre-line;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px;
        box-sizing: border-box;
        background-color: #efefef;
        color: #3e6110;
    }

    
/* FORM */
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 200px;
    margin:auto;
}